{%extends 'kalıpana.html'%}
{% block baslik %}
Kimdir?
{% endblock %}
{% block anaicerik %}
    <br>
    <center>
    <h1> İbn-i Sina</h1>
    <p>Buhara yakınlarındaki Efşene köyünde (Özbekistan) 980 civarında dünyaya gelmiş ve 1037 yılında Hemedan şehrinde (İran) ölmüştür. Tıp ve felsefe alanına ağırlık verdiği değişik alanlarda 200 kadar kitap yazmıştır. Batılılarca modern Orta Çağ biliminin kurucusu ve tabiplerin önderi olarak bilinen İbn-i Sina, "Büyük Üstat" ismiyle de tanınır. Tıp alanında yedi yüzyıl boyunca temel kaynak eser olarak süregelen "El-Kanun fi't-Tıb" (Tıbbın Kanunu) adlı kitabı ile ünlenmiş ve bu kitap, değişik Avrupa üniversitelerinde 17. yüzyıl ortalarına kadar tıp biliminde temel eser olarak okutulmuştur.</p>
    <img src="https://estethica.com.tr/UserFiles/images/ib.jpg" alt="Açıklayıcı Metin">  
  </center>
    {% endblock %}